<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ts.instagram.mapper.FeedMapper">

    <insert id="save">
        insert into feed (feed_id, content, created_at, created_by, modified_at, modified_by)
        values (#{feedId}, #{content}, #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy})
    </insert>

    <select id="selectById" resultType="Feed">
        select *
        from feed
        where feed_id = #{id}
    </select>

    <select id="selectAll" resultType="hashmap">
        select *
        from feed
    </select>

    <update id="update">
        update feed
        set content=#{content}, modified_at=#{modifiedAt}
        where feed_id=#{feedId}
    </update>

    <delete id="delete">
        delete
        from feed
        where feed_id =#{id}
    </delete>
</mapper>
