<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ts.instagram.mapper.InstauserMapper">

    <select id="selectAll" resultType="hashmap">
        select * from Instauser
    </select>

    <insert id="save">
        insert into instauser (user_id, user_nickname, password, email, name, phone, content, created_at, created_by, modified_at, modified_by)
        values (#{userId}, #{userNickname}, #{password}, #{email}, #{name}, #{phone}, #{content}, #{createdAt}, #{createdBy}, #{modifiedAt}, #{modifiedBy})
    </insert>

    <update id="update">
        update instauser
        set user_nickname=#{userNickname}
        where user_id=#{userId}
    </update>

    <select id="selectById" resultType="Instauser">
        select *
        from instauser
        where user_id = #{id}
    </select>

    <delete id="delete">
        delete
        from instauser
        where user_id =#{id}
    </delete>
</mapper>
