.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
}
.article {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.img{
  width: 380px;
  height: 800px;
  border: 1px solid black;
  text-align: center;
}

.login-wrap{
  width: 350px;
  height: 800px;
  border: 1px solid black;
  text-align: center;
}

.login{
  height: 600px;
  width: 100%;
  border: 1px solid red;
}

.instagram-logo{
  border: 1px solid black;
}

.user-id{
  height: 50px;
  width: 80%;
  border: 1px solid blue;
}

.user-password{
  height: 50px;
  width: 80%;
  border: 1px solid blue;
}

.login-button{
  margin-top: 20px;
  height: 40px;
  border: 1px solid blue;
}

.sign-up-wrap{
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border: 1px solid pink;
}